{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="dashboard-container">
            <h1 class="dashboard-title">Trimestre 1</h1>
            <div class="menu-grid">
                {% if user.profilutilisateur.role == 'SG' or user.profilutilisateur.role == 'AP' or user.profilutilisateur.role == 'Admin_' %}
                    <div class="menu-item">
                        <a href="{% url 'selection_classe_matiere' 'Seq5' %}">
                            <button class="menu-button btn-block">
                                <h2>Notes- Sequence 5</h2>
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
