{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="dashboard-container">
            <h1 class="dashboard-title">Gestion des Trimestres</h1>
            <div class="menu-grid">
                {% if user.profilutilisateur.role == 'SG' or user.profilutilisateur.role == 'AP' or user.profilutilisateur.role == 'Admin_' %}
                    <div class="menu-item">
                        <a href="{% url 'menu_gestion_trimestre_1' %}">
                            <button class="menu-button btn-block">
                                <h2>Gestion Trimestre 1</h2>
                            </button>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="#">
                            <button class="menu-button btn-block">
                                <h2>Gestion Trimestre 2</h2>
                            </button>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'liste_enseignants_par_departement' %}">
                            <button class="menu-button btn-block">
                                <h2>Gestion Trimestre 3</h2>
                            </button>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'liste_notes_completes' %}">
                            <button class="menu-button btn-block">
                                <h2>Notes Remplies</h2>
                            </button>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'selection_classe_sequence' %}">
                            <button class="menu-button btn-block">
                                <h2>Saisie des Absences</h2>
                            </button>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'liste_absences_completes' %}">
                            <button class="menu-button btn-block">
                                <h2>Absences Remplies</h2>
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
