{% extends 'base.html' %}

{% load notes_extras %}

{% block content %}
<div class="container">
    <h2>Saisie des Notes pour la classe {{ classe.nom }} - {{ matiere.nom }} - {{ sequence }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Liste des élèves</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eleve in eleves %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ eleve.nom }} {{ eleve.prenom }}</td>
                        <td>
                            <input type="number" name="note_{{ eleve.id }}" step="0.25" min="0" max="20" required value="{{ notes_existantes|get_item:eleve.id }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Enregistrer les Notes</button>
    </form>
    <div style="display:none;">
        <!-- Debugging Data -->
        <h3>Debugging Data</h3>
        <p>Notes existantes : {{ notes_existantes }}</p>
    </div>
</div>
{% endblock %}
