{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="dashboard-container container">
            <h1 class="dashboard-title">Gestion des Classes</h1>
            <div class="row">
                <!-- Gestion des Classes -->
                <div class="col-md-4">
                    <a href="{% url 'ajouter_classe' %}">
                        <button class="menu-button btn btn-primary btn-block mb-2">
                            <h2>Ajouter une Classe</h2>
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'liste_classes' %}">
                        <button class="menu-button btn btn-primary btn-block mb-2">
                            <h2>Liste des Classes</h2>
                        </button>
                    </a>
                </div>
                
                <!-- Gestion des Élèves -->
                <div class="col-md-4">
                    <a href="{% url 'ajouter_eleve' %}">
                        <button class="menu-button btn btn-primary btn-block mb-2">
                            <h2>Ajouter un Élève</h2>
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'liste_eleves' %}">
                        <button class="menu-button btn btn-primary btn-block mb-2">
                            <h2>Liste des Élèves</h2>
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'importer_eleves' %}">
                        <button class="menu-button btn btn-primary btn-block mb-2">
                            <h2>Importer Élèves</h2>
                        </button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'liste_eleves_par_classe' %}">
                        <button class="menu-button btn btn-primary btn-block mb-2">
                            <h2>Liste eleves par classe</h2>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
