{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="dashboard-container">
            <h1 class="dashboard-title">Gestion des Enseignants</h1>
            <div class="menu-grid">
                {% if user.profilutilisateur.role == 'SG' or user.profilutilisateur.role == 'AP' or user.profilutilisateur.role == 'Admin_' %}
                <div class="menu-item">
                    <a href="{% url 'ajouter_departement' %}">
                        <button class="menu-button">
                            <h2>Ajouter un Département</h2>
                        </button>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'liste_departements' %}">
                        <button class="menu-button">
                            <h2>Liste des Départements</h2>
                        </button>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'ajouter_matiere' %}">
                        <button class="menu-button">
                            <h2>Ajouter une Matière</h2>
                        </button>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'liste_matieres' %}">
                        <button class="menu-button">
                            <h2>Liste des Matières</h2>
                        </button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
