{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<main class="main-container">
    <form class="container" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-photo-container profile-photo-form-container">
            <p class="profile-page-heading">Modifier votre profil</p>
            <img src="{{ user.profilutilisateur.profile_img.url }}" alt="user-image" class="profile-image">
        </div>
        <div class="user-content-container user-profile-form-container">
            <ul>
                <li class="name">
                    <label for="nom">Nom</label>
                    {{ form.nom|add_class:"form-control" }}
                </li>
                <li class="matricule">
                    <label for="matricule">Matricule</label>
                    {{ form.matricule|add_class:"form-control" }}
                </li>
                <li class="code">
                    <label for="code_de_securite">Code de sécurité</label>
                    {{ form.code_de_securite|add_class:"form-control" }}
                </li>
                <li class="profile_img">
                    <label for="profile_img">Photo de profil</label>
                    {{ form.profile_img|add_class:"form-control" }}
                </li>
                
                <li class="sexe">
                    <label for="sexe">Sexe</label>
                    {{ form.sexe|add_class:"form-control" }}
                </li>
            </ul>
            <button class="profile-save-button btn btn-primary btn-block">Enregistrer</button>
        </div>
    </form>
</main>
{% endblock %}
