{% extends 'base.html' %}

{% block title %}Enregistrement{% endblock %}

{% block content %}
<main class="main-container">
    <div class="container">
        <h1 class="signup-heading">Enregistrement</h1>
        <div class="user-content-container user-profile-form-container">
            <form action="" method="POST">
                {% csrf_token %}
                <ul>
                    <li class="name">
                        <label for="username">Nom Utilisateur</label>
                        {{ form.username.errors }}
                        {{ form.username|add_class:"form-control" }}
                    </li>

                    <li class="pass">
                        <label for="password1">Mot de passe</label>
                        {{ form.password1.errors }}
                        {{ form.password1|add_class:"form-control" }}
                    </li>
              
                    <li class="confirm-pass">
                        <label for="password2">Confirmer le mot de passe</label>
                        {{ form.password2.errors }}
                        {{ form.password2|add_class:"form-control" }}
                    </li>
                </ul>
                <button class="signup-button btn btn-primary btn-block">S'enregistrer</button>
                <p class="login-link">Vous avez un compte? <a href="{% url 'login' %}">Connectez-vous</a></p>
            </form>
        </div>
    </div>
</main>
{% endblock %}
