<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1, h3 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            font-size: 10px;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #000;
            padding: 2px;
            font-size: 12px;
            text-align: center;
        }
        th {
            background-color: #BDBDBD;
        }
        .details {
            margin-top: 20px;
        }
        .header {
            margin-bottom: 20px;
        }
        .signature-section {
            page-break-after: always;
        }
        @page {
            size: A4;
            margin: 2cm;
        }
    </style>
</head>
<body>
    {% for eleve_data in eleves_data %}
    {% include 'parametres/entete.html' with parametres=parametres %}
    <div class="header">
        <table style="width: 100%; border: none; border-collapse: collapse;">
            <tr>
                <td style="text-align: center; font-weight: bold; font-size: 10px; padding-bottom: 0; border: none;">
                    <h3><strong>Noms & prénoms :</strong> {{ eleve_data.eleve.nom }} {{ eleve_data.eleve.prenom }}</h3>
                    <p><strong>Né(e) le :</strong> {{ eleve_data.eleve.date_naissance }} à {{ eleve_data.eleve.lieu_naissance }}</p>
                </td>
                <td style="text-align: center; font-weight: bold; font-size: 10px; padding-bottom: 0; border: none;">
                    <h3><strong>Classe :</strong> {{ classe.nom }}</h3>
                    <p><strong>Effectif :</strong> {{ classe.eleves.count }}</p>
                </td>
                <td style="text-align: center; font-weight: bold; font-size: 10px; padding-bottom: 0; border: none;">
                    <p><strong>Prof. principal :</strong> {% if classe.responsable.sexe == 'Masculin' %}M.{% else %}Mme{% endif %} {{ classe.responsable.nom }}</p>
                    <span style="font-weight: normal; font-size: 9px;">
                        <p><strong>Tél. Père/Mère/Tuteur :</strong> {{ eleve_data.eleve.contact_parent }}</p>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; font-weight: bold; font-size: 9px; border: none;">
                    <p><strong>Matricule :</strong> {{ eleve_data.eleve.matricule }}</p>
                </td>
                <td style="text-align: center; font-weight: bold; font-size: 9px; border: none;">
                    <p><strong>Redoublant :</strong> {{ eleve_data.eleve.statut }}</p>
                </td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th style="background-color: #BDBDBD;">Matières</th>
                    <th style="background-color: #BDBDBD;">Seq5</th>
                    <th style="background-color: #BDBDBD;">Coef</th>
                    <th style="background-color: #BDBDBD;">Total</th>
                    <th style="background-color: #BDBDBD;">Rg</th>
                    <th style="background-color: #BDBDBD;">MGC</th>
                    <th style="background-color: #BDBDBD;">Min</th>
                    <th style="background-color: #BDBDBD;">Max</th>
                    <th style="background-color: #BDBDBD;">Appréciations</th>
                    <th style="background-color: #BDBDBD;">Enseignant</th>
                </tr>
            </thead>
            <tbody>
                {% for groupe in eleve_data.groupes %}
                    {% for matiere in groupe.matieres %}
                    <tr>
                        <td>{{ matiere.nom }}</td>
                        <td>{{ matiere.seq5_note|floatformat:2 }}</td>
                        <td>{{ matiere.coefficient }}</td>
                        <td>{{ matiere.total|floatformat:2 }}</td>
                        <td>{{ matiere.rang }}</td>
                        <td>{{ matiere.mgc|floatformat:2 }}</td>
                        <td>{{ matiere.min|floatformat:2 }}</td>
                        <td>{{ matiere.max|floatformat:2 }}</td>
                        <td>{{ matiere.appreciation }}</td>
                        <td>{{ matiere.enseignant }}</td>
                    </tr>
                    {% endfor %}
                    <tr style="background-color: #BDBDBD;">
                        <td colspan="4"><strong>{{ groupe.nom }}</strong></td>
                        <td><strong>{{ groupe.total_coefficient }}</strong></td>
                        <td><strong>{{ groupe.total|floatformat:2 }}</strong></td>
                        <td colspan="6" style="text-align: right;"><strong>Moyenne: {{ groupe.moyenne|floatformat:2 }}</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table style="width: 100%;">
            <tr>
                <th colspan="2">Discipline</th>
                <th colspan="1">Absences Seq5</th>
                <th colspan="1">Total</th>
                <th colspan="3">Travail de l'élève</th>
                <th colspan="4">Profil de la classe</th>
            </tr>
            <tr>
                <td colspan="2">Absences non justifiées (h) :</td>
                <td>{{ eleve_data.absences_seq5|default:"0" }}</td>
                <td>{{ eleve_data.absences_non_justifiees }}</td>
                <td colspan="2">Seq 5 Moy :</td>
                <td colspan="1"><strong>{{ eleve_data.seq5_moyenne|floatformat:2 }}</strong></td>
                <td colspan="2">Moy. gen. classe :</td>
                <td colspan="2"><strong>{{ profil_classe.moyenne_generale|floatformat:2 }}</strong></td>
            </tr>
            <tr>
                <td colspan="2">Retards (h) :</td>
                <td></td>
                <td></td>
                <td colspan="2">Moy. dernier :</td>
                <td colspan="1">{{ profil_classe.moyenne_dernier|floatformat:2 }}</td>
                <td colspan="2">Moy. premier :</td>
                <td colspan="1">{{ profil_classe.moyenne_premier|floatformat:2 }}</td>
            </tr>
            <tr>
                <td colspan="2">Consignes (h) :</td>
                <td></td>
                <td></td>
                <td colspan="2">Total Points :</td>
                <td colspan="1"><strong>{{ eleve_data.total_points|floatformat:2 }}</strong></td>
                <td colspan="2">Nombre de Moyennes :</td>
                <td colspan="1">{{ profil_classe.nombre_moyennes }}</td>
            </tr>
            <tr>
                <td colspan="1">Avertissements :</td>
                <td>Travail</td>
                <td>Conduite</td>
                <td></td>
                <td colspan="2">Taux de Réussite :</td>
                <td colspan="1">{{ profil_classe.taux_reussite|floatformat:2 }}%</td>
                <td colspan="2">Écart-type :</td>
                <td colspan="1">{{ profil_classe.ecart_type|floatformat:2 }}</td>
            </tr>
        </table>
    </div>
    <div class="signature-section">
        <table style="width: 100%; padding:20px;">
            <tr>
                <th colspan="3">Visa du Parent</th>
                <th colspan="2">Appréciation du travail</th>
                <th colspan="3">Visa Professeur Principal</th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="2">{{ eleve_data.appreciation_travail }}</td>
                <td colspan="3"></td>
            </tr>
        </table>
    </div>
    {% endfor %}
</body>
</html>
