{% load static %}
{% load absences_extras %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBS-NoteBook System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class="navbar-brand">NBS-NoteBook System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if user.profilutilisateur.role == 'Enseignant' %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">Notes</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Absences</a>
                        </li>
                    {% elif user.profilutilisateur.role == 'AP' %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">Matières</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Enseignants</a>
                        </li>
                    {% elif user.profilutilisateur.role == 'SG' %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">Absences</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Trimestres</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'gestion_enseignants' %}" class="nav-link">Enseignants</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'gestion_departements' %}" class="nav-link">Départements</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'gestion_classes' %}" class="nav-link">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'menu_gestion_trimestres' %}" class="nav-link">Trimestres</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Statistiques</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'gestion_parametres' %}" class="nav-link">Parametres</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notifications' %}">
                            <i class="fas fa-envelope"></i>
                            {% if unread_count > 0 %}
                                <span class="badge badge-danger">{{ unread_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sent_notifications' %}">Messages envoyés</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </nav>
        {% if user.is_authenticated %}
        <div class="welcome-message text-center mt-3">
           <h3><b> Bienvenue {{ user.username }} </b></h3>
        </div>
        {% endif %}
    </header>
    <div class="container">
        <!-- Afficher les messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    
        {% block content %}
        {% endblock %}
    
    <footer class="footer bg-dark text-white text-center py-2 mt-5">
        <p>&copy; Copyright 2024 - Jean Daniel Nsas - NBS - NoteBook System</p>
    </footer>
    <script>
        setTimeout(function() {
            var messages = document.querySelectorAll('.messages .alert');
            messages.forEach(function(message) {
                message.style.display = 'none';
            });
        }, 5000); // 5000 ms = 5 secondes
    </script>
</body>
</html>
