{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="form-group">
        <input id="search" class="form-control" type="text" placeholder="Recherche...." value="{{ query }}">
    </div>
    <br>
    <h2>Liste des Matières</h2>
    <a href="{% url 'ajouter_matiere' %}" class="btn btn-primary">Ajouter Matière</a>
    <div id="matiere-table">
        <table class="styled-table" id="myTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Coefficient</th>
                    <th>Département</th>
                    <th>Classe</th>
                    <th>Enseignant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for matiere in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ matiere.nom }}</td>
                    <td>{{ matiere.description }}</td>
                    <td>{{ matiere.coefficient }}</td>
                    <td>{{ matiere.departement.nom }}</td>
                    <td>{{ matiere.classe.nom }}</td>
                    <td>{{ matiere.enseignant.nom }}</td>
                    <td>
                        <a href="{% url 'modifier_matiere' matiere.id %}" class="btn btn-warning btn-sm" title="Modifier">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form method="post" action="{% url 'confirmer_suppression_matiere' matiere.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" title="Supprimer">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; premier</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">précédent</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">suivant</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">dernier &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#search').on('input', function() {
            var query = $(this).val();
            $.ajax({
                url: "{% url 'liste_matieres' %}",
                data: {
                    'q': query
                },
                success: function(data) {
                    $('#matiere-table').html($(data).find('#matiere-table').html());
                }
            });
        });
    });
</script>
{% endblock %}
