<!-- templates/cours/modifier_groupe_matiere.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Modifier le Groupe de Matière</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nom">Nom du Groupe</label>
            <input type="text" class="form-control" id="nom" name="nom" value="{{ form.nom.value }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
</div>
{% endblock %}
